<template>
  <div></div>
</template>

<script>
export default {};
</script>

<style>
.button {
  width: 100%;
  background-color: #787db5;
}

.el-button {
  border-radius: 12px !important;
  height: 45px;
  font-weight: bold;
}
</style>
