<template>
  <div>
    <navigation></navigation>
    <div class="page-container">
      <h2>{{ block.name }}</h2>

      <div class="btn-container">
        <day-button
          :key="'a' + day"
          v-for="day in days_count"
          :number="day"
          :selected="day_num == day"
        >
        </day-button>
      </div>
      <vue-markdown
        class="course-text"
        :source="block.description"
      ></vue-markdown>
      <h2>Задания</h2>
      <div class="course-text">
        Нажмите на задание, чтобы пометить как выполненное
      </div>
      <task-button
        @eventname="updateparent"
        v-for="data in exercises"
        :key="'b' + data.id"
        :exercise_id="data.id"
        :task="data.description"
        :done="data.is_completed"
      >
      </task-button>
      <div class="course-text">Осталось ещё {{ exercises_left }} заданий!</div>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Nav";
import DayButton from "../components/DayButton";
import TaskButton from "../components/TaskButton";
import "../../public/main.css";

export default {
  name: "CoursePage",
  components: {
    Navigation,
    DayButton,
    TaskButton,
  },
  data() {
    return {
      block: {},
      exercises: [],
      days_count: 0,
      exercises_left: 0,
      day_num: 0,
    };
  },
  methods: {
    updateparent(add) {
      this.exercises_left += add;
    },
  },
  mounted() {
    let course_id = this.$route.params.id;
    this.day_num = this.$route.params.day;
    this.$api.platform
      .get_day_by_course_id(course_id, this.day_num)
      .then((response) => {
        let data = response.data;
        this.block = data["block_data"];
        this.exercises = data["exercises_data"];
        this.days_count = data["days_cnt"];
        this.exercises_left = 0;
        for (const ex of this.exercises) {
          this.exercises_left += Number(!ex.is_completed);
        }
      })
      .catch(() => {
        this.$router.push({ name: "not_found" });
      });
  },
};
</script>

<style scoped>
.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
</style>
