<template>
  <div>
    <navigation></navigation>
    <div class="page-container">
      <div class="settings-container">
        <h2>{{ course.name }}</h2>
        <el-button
          class="button-preview"
          type="primary"
          @click="goToCoursePayment"
          >Купить за {{ course.price }}₽</el-button
        >
      </div>
      <vue-markdown
        class="course-text"
        :source="course.description"
      ></vue-markdown>
      <h2>Создатели курса</h2>
      <course-creator
        v-for="author in course.authors"
        :key="author.id"
        :author="author"
      ></course-creator>
      <!--
      <h2>Отзывы</h2>
      <course-review></course-review>
      -->
      <div class="center">
        <el-button
          class="button-preview"
          type="primary"
          @click="goToCoursePayment"
          >Купить за {{ course.price }}₽</el-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Nav";
import CourseCreator from "../components/CourseCreator";
// import CourseReview from "../components/CourseReview"
import "../../public/main.css";

export default {
  name: "CoursePreview",
  components: {
    Navigation,
    CourseCreator,
    // CourseReview
  },
  data() {
    return {
      course: {},
    };
  },
  methods: {
    goToCoursePayment() {
      let course_id = this.course.id;
      this.$router.push({ name: "course_payment", params: { id: course_id } });
    },
  },
  mounted() {
    let course_id = this.$route.params.id;
    this.$api.platform
      .get_course_by_id(course_id)
      .then((response) => {
        this.course = response.data;
      })
      .catch(() => {
        this.$router.push({ name: "not_found" });
      });
  },
};
</script>

<style>
h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

/* TODO компонента кнопки */
.button-preview,
.button-preview:default {
  width: 75%;
  background-color: #787db5 !important;
  max-width: 180px;
  border: none;
}

.button-preview:hover,
.button-preview:active {
  background-color: #888dc0 !important;
  color: #fff !important;
}

.el-button {
  border-radius: 12px !important;
  height: 50px;
  font-weight: bold;
  font-size: 17px;
}
</style>
