<template>
  <div>
    <navigation></navigation>
    <div class="page-container">
      <div class="pay-box">
        <h2>ОПЛАТА КУРСА</h2>
        <h3>{{ course.name }}</h3>
        <div class="course-text" v-html="course.description_short"></div>
        <div>
          <el-col :span="17">
            <el-input
              class="inline promo-input"
              id="promocode"
              v-model="promocode"
              placeholder="Введите промокод"
            ></el-input>
          </el-col>
          <el-button class="text-button button-payment" type="text"
            >Применить</el-button
          >
        </div>
        <div class="flex-container">
          <div class="margin-payment">
            <div class="inline sum">Итого:</div>
            &emsp;
            <div class="inline price">{{ course.price }}₽</div>
          </div>
          <div>
            <el-button
              @click="goToPayment"
              class="brand-button"
              native-type="submit"
              >Перейти к оплате</el-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Nav";

export default {
  name: "CoursePayment",
  components: {
    Navigation,
  },
  data() {
    return {
      course: {},
      promocode: "",
    };
  },
  methods: {
    goToPayment() {
      let course_id = this.$route.params.id;
      let redirect_url =
        window.location.protocol + "//" + window.location.host + "/my_courses";
      this.$api.platform
        .create_course_payment(course_id, {
          redirect_url: redirect_url,
        })
        .then((response) => {
          let payment_url = response.data.url;
          window.location.href = payment_url;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    let course_id = this.$route.params.id;
    this.$api.platform
      .get_day_by_course_id(course_id, 1)
      .then(() => {
        this.$router.push({
          name: "course_page",
          params: { id: course_id, day: 1 },
        });
      })
      .catch(() => {
        this.$api.platform
          .get_course_by_id(course_id)
          .then((response) => {
            this.course = response.data;
          })
          .catch((error) => {
            console.log(error);
          });
      });
  },
};
</script>

<style>
.inline {
  display: inline;
}

.button-payment {
  margin-left: 15px;
}

.margin-payment {
  margin-top: 12px;
  margin-bottom: 12px;
}

.pay-box {
  background-color: rgba(120, 125, 181, 0.1);
  border-radius: 40px;
  max-width: 600px;
  padding: 50px;
  margin: 100px auto;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); */
}

.flex-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-input {
  width: 100px !important;
}

.sum {
  font-size: 2.4rem;
  font-weight: 600;
}

.price {
  font-size: 2.4rem;
}
</style>
