<template>
  <div>
    <navigation></navigation>
    <div class="page-container">
      <h2>КАТАЛОГ КУРСОВ ✌🏻️</h2>
      <form @submit.prevent="search_courses">
        <div class="settings-container">
          <el-input
            class="input"
            id="search_query"
            v-model="search_query"
            placeholder="Поиск"
          ></el-input>
          <el-button 
            class="button-catalog"
            type="primary"
            native-type="submit"
            >Найти</el-button>
        </div>
      </form>
      <course-card v-for="data in courses" :key="data.id" :course="data" :is_my_courses="false">
      </course-card>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Nav";
import CourseCard from "../components/CourseCard";

export default {
  name: "CourseCatalog",
  components: {
    Navigation,
    CourseCard,
  },
  data() {
    return {
      search_query: "",
      courses: []
    };
  },
  methods: {
    search_courses() {
      if (this.search_query == "") {
        this.$router.push({ name: 'course_catalog' });
        return;
      }
      this.$router.push({
          name: 'course_catalog',
          query: { search: this.search_query }
        });
    }
  },
  mounted() {
    this.search_query = this.$route.query.search;
    this.$api.platform
      .get_all_courses(this.search_query)
      .then((response) => {
        this.courses = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>

<style>
h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

/* TODO Компонента поля ввода */
.input {
  margin-bottom: 10px;
}

/* TODO компонента кнопки */
.button-catalog,
.button-catalog:default {
  width: 75%;
  background-color: #787db5;
  max-width: 150px;
  border: none;
  margin-left: 10px;
}

.button-catalog:hover,
.button-catalog:active {
  background-color: #888dc0;
  color: #fff;
}

.el-button {
  border-radius: 12px !important;
  height: 50px;
  font-weight: bold;
  font-size: 17px;
}
</style>
