<template>
  <div class="page">
    <div class="background-image"></div>

    <div class="container">
      <form @submit.prevent="login">
        <h1>С ВОЗВРАЩЕНИЕМ ❤️</h1>
        <div class="input-container">
          <el-input
            class="input"
            id="email"
            v-model.trim="email"
            placeholder="Email"
          ></el-input>

          <el-input
            class="input"
            id="password"
            v-model.trim="password"
            placeholder="Пароль"
            show-password
          ></el-input>

          <!-- <a href="#">Забыли пароль?</a> -->

          <div class="but-layout">
            <el-button class="brand-button" native-type="submit"
              >Войти</el-button
            >
            <el-button
              class="white-button"
              @click="$router.push({ name: 'registration' })"
              >Регистрация</el-button
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    login() {
      this.$api.auth
        .login({
          email: this.email,
          password: this.password,
        })
        .then((response) => {
          if (response.status == 200) {
            let token = response.data.token;
            this.$cookies.set("auth_token", token, "1d");
            this.$router.push({ name: "course_catalog" });
          }
        })
        .catch((error) => {
          if (error.response.status == 400) {
            alert("Неправильные почта и/или пароль");
            return;
          }
          console.log(error);
        });
    },
  },
};
</script>

<style>
.but-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: url("../img/login_bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  transform: scale(1.05);
}
</style>
