<template>
  <center>
    <h1>Страница не найдена :(</h1>
    <p>
      <a href="/">Вернуться на главную</a>
    </p>
  </center>
</template>

<script>
export default {
  name: 'NotFound'
}
</script>

<style scoped>
center {
  margin: 15vw;
}

h1 {
  color: var(--border);
  font-size: 2em;
}
</style>