<template>
  <div class="page">
    <div class="background-image"></div>
    <div class="container">
      <form @submit.prevent="registration">
        <h1>РЕГИСТРАЦИЯ ✨</h1>
        <div class="input-container">
          <div>
            <el-input
              class="input"
              id="email"
              v-model.trim="$v.email.$model"
              placeholder="Email"
            ></el-input>

            <div v-if="$v.email.$dirty">
              <div class="alert-container">
                <el-alert
                  v-if="correct_form && !$v.email.required"
                  class="alert"
                  title="Ошибка заполнения формы"
                  type="warning"
                  description="Введите почту"
                  show-icon
                  :closable="false"
                >
                </el-alert>
                <el-alert
                  v-if="correct_form && !$v.email.email"
                  class="alert"
                  title="Ошибка заполнения формы"
                  type="warning"
                  description="Введите корректную почту"
                  show-icon
                  :closable="false"
                >
                </el-alert>
              </div>
            </div>
          </div>

          <div>
            <el-input
              class="input"
              id="username"
              v-model.trim="$v.username.$model"
              placeholder="Имя пользователя"
            ></el-input>
            <div v-if="$v.username.$dirty">
              <div class="alert-container">
                <el-alert
                  v-if="correct_form && !$v.username.required"
                  class="alert"
                  title="Ошибка заполнения формы"
                  type="warning"
                  description="Введите имя пользователя"
                  show-icon
                  :closable="false"
                >
                </el-alert>
              </div>
            </div>
          </div>

          <div>
            <el-input
              class="input"
              id="password"
              v-model.trim="$v.password.$model"
              placeholder="Пароль"
              show-password
              center
            ></el-input>
            <div v-if="$v.password.$dirty">
              <div class="alert-container">
                <el-alert
                  v-if="correct_form && !$v.password.required"
                  class="alert"
                  title="Ошибка заполнения формы"
                  type="warning"
                  description="Введите пароль"
                  show-icon
                  :closable="false"
                >
                </el-alert>
                <el-alert
                  v-if="correct_form && !$v.password.minLength"
                  class="alert"
                  title="Ошибка заполнения формы"
                  type="warning"
                  description="Пароль должен быть длиннее"
                  show-icon
                  :closable="false"
                >
                </el-alert>
              </div>
              <!-- <p class="error" v-if="!$v.password.minLength">
            Длина пароля должна быть не менее
            {{ $v.password.$params.minLength.min }} символов
          </p> -->
            </div>
          </div>

          <div>
            <el-input
              class="input"
              v-model.trim="$v.repeat_password.$model"
              placeholder="Повторите пароль"
              show-password
            ></el-input>
            <div v-if="$v.repeat_password.$dirty">
              <div class="alert-container">
                <el-alert
                  v-if="correct_form && !$v.repeat_password.sameAsPassword"
                  class="alert"
                  title="Ошибка заполнения формы"
                  type="warning"
                  description="Пароли должны совпадать"
                  show-icon
                  :closable="false"
                >
                </el-alert>
              </div>
            </div>
          </div>

          <el-button class="brand-button" native-type="submit"
            >Зарегистрироваться</el-button
          >
        </div>
      </form>
      <div class="alert-container">
        <el-alert
          v-if="!correct_form"
          class="alert"
          title="Ошибка заполнения формы"
          type="error"
          description="Введите корректные данные"
          show-icon
          :closable="false"
        >
        </el-alert>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  name: "Registration",
  data() {
    return {
      username: "",
      email: "",
      password: "",
      repeat_password: "",
      correct_form: true,
    };
  },
  validations() {
    return {
      username: {
        required,
      },
      password: {
        required,
        minLength: minLength(8),
      },
      repeat_password: {
        sameAsPassword: sameAs("password"),
      },
      email: {
        required,
        email,
      },
    };
  },
  methods: {
    registration() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.correct_form = false;
        return;
      }
      this.$api.auth
        .registration({
          username: this.username,
          email: this.email,
          password: this.password,
        })
        .then((response) => {
          if (response.status == 201) {
            let token = response.data.token;
            this.$cookies.set("auth_token", token, "1d");
            this.$router.push({ name: "course_catalog" });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: url("../img/reg_bg_new.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  transform: scale(1.05);
}
</style>
