<template>
  <div>
    <navigation></navigation>
    <div class="page-container">
      <el-col :span="15">
        <div class="settings-container">
          <h2>НАСТРОЙКИ</h2>
        </div>
        <form class="margin-settings" @submit.prevent="change_password">
          <div class="option-text">Сменить пароль</div>
          <div class="input-container">
            <div>
              <el-input
                id="old_password"
                v-model.trim="$v.old_password.$model"
                placeholder="Старый пароль"
              ></el-input>

              <div class="alert-container">
                <el-alert
                  v-if="$v.old_password.$dirty && !$v.old_password.required"
                  class="alert"
                  title="Введите старый пароль"
                  type="warning"
                  show-icon
                  :closable="false"
                >
                </el-alert>
              </div>
            </div>

            <div>
              <el-input
                id="new_password"
                v-model.trim="$v.new_password.$model"
                placeholder="Новый пароль"
              ></el-input>

              <div class="alert-container">
                <el-alert
                  v-if="$v.new_password.$dirty && !$v.new_password.required"
                  class="alert"
                  title="Введите новый пароль"
                  type="warning"
                  show-icon
                  :closable="false"
                >
                </el-alert>
                <el-alert
                  v-if="$v.old_password.$dirty && !$v.new_password.minLength"
                  class="alert"
                  title="Слишком короткий пароль"
                  type="warning"
                  show-icon
                  :closable="false"
                >
                </el-alert>
              </div>
            </div>

            <div>
              <el-input
                id="repeat_password"
                v-model.trim="$v.repeat_password.$model"
                placeholder="Повторите пароль"
              ></el-input>

              <div class="alert-container">
                <el-alert
                  v-if="
                    $v.repeat_password.$dirty &&
                    !$v.repeat_password.sameAsNewPassword
                  "
                  class="alert"
                  title="Пароли должны совпадать"
                  type="warning"
                  show-icon
                  :closable="false"
                >
                </el-alert>
              </div>
            </div>
          </div>

          <el-button
            class="brand-button button-settings"
            type="primary"
            native-type="submit"
            >Сменить</el-button
          >
        </form>
        <form class="margin-settings" @submit.prevent="change_name">
          <div class="option-text">Сменить имя пользователя</div>
          <el-input
            id="new_name"
            v-model.trim="$v.new_name.$model"
            placeholder="Имя пользователя"
          ></el-input>

          <div class="alert-container">
            <el-alert
              v-if="$v.new_name.$dirty && !$v.new_name.required"
              class="alert"
              title="Введите имя"
              type="warning"
              show-icon
              :closable="false"
            >
            </el-alert>
          </div>

          <el-button
            class="brand-button button-settings"
            type="primary"
            native-type="submit"
            >Сменить</el-button
          >
        </form>
        <el-button
          class="button-settings btn-exit"
          type="primary"
          native-type="submit"
          @click="logout"
          >Выйти</el-button
        >
      </el-col>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Nav";
import { required, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  name: "Registration",
  components: {
    Navigation,
  },
  data() {
    return {
      old_password: "",
      new_password: "",
      repeat_password: "",
      new_name: "",
    };
  },
  validations() {
    return {
      old_password: {
        required,
      },
      new_password: {
        required,
        minLength: minLength(8),
      },
      repeat_password: {
        sameAsNewPassword: sameAs("new_password"),
      },
      new_name: {
        required,
      },
    };
  },
  methods: {
    change_password() {
      this.$v.$reset();
      this.$v.old_password.$touch();
      this.$v.new_password.$touch();
      this.$v.repeat_password.$touch();
      if (
        this.$v.old_password.$invalid ||
        this.$v.new_password.$invalid ||
        this.$v.repeat_password.$invalid
      ) {
        alert("Ошибка в форме ¯\\_(ツ)_/¯");
        return;
      }
      this.$api.auth
        .change_user_settings({
          old_password: this.old_password,
          password: this.new_password,
        })
        .then((response) => {
          if (response.status == 200) {
            alert("Изменения применены");
          }
        })
        .catch((error) => {
          if (error.response.status == 400) {
            alert("Неправильный старый пароль");
            return;
          }
          console.log(error);
        });
    },
    change_name() {
      this.$v.$reset();
      this.$v.new_name.$touch();
      if (this.$v.new_name.$invalid) {
        alert("Ошибка в форме ¯\\_(ツ)_/¯");
        return;
      }
      this.$api.auth
        .change_user_settings({
          username: this.new_name,
        })
        .then((response) => {
          if (response.status == 200) {
            alert("Изменения применены");
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    logout() {
      this.$cookies.remove("auth_token");
      this.$router.go();
    },
  },
};
</script>

<style>
.margin-settings {
  margin-bottom: 30px;
}

.button-settings,
.button-settings:default {
  width: 75%;
  max-width: 230px;
  margin-top: 10px;
}

.btn-exit,
.btn-exit:default {
  max-width: 150px;
  background-color: #fa5252;
  border: none !important;
}

.btn-exit:hover,
.btn-exit:active {
  max-width: 150px;
  background-color: #ff6b6b;
}

.alert-container {
  top: 65px !important;
}
</style>
