<template>
  <div>
    <el-avatar :src="link" :size="200"></el-avatar>
    <p class="author">{{ author.first_name }} {{ author.last_name }}</p>
    <p class="whois">{{ author.description }}</p>
  </div>
</template>
<script>
export default {
  name: "CourseCreator.vue",
  props: {
    author: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      link: "https://orimos.ru/wp-content/uploads/e/2/f/e2f922c57f78a2d9ae1145444898ab3d.jpeg",
    };
  },
};
</script>

<style scoped>
div {
  display: table-cell;
  padding: 20px;
}

.author {
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 700;
}

.whois {
  margin-top: 5px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
}
</style>
