<template>
  <div class="course">
    <p>{{ course.name }}</p>
    <el-button type="primary" @click="goToCourse"
      >Подробнее</el-button
    >
  </div> 
</template>
<script>
export default {
  name: "CourseCard.vue",
  props: {
    course: {
      type: Object,
      required: true
    },
    is_my_courses: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    goToCourse() {
      let course_id = this.course.id;
      if (this.is_my_courses) {
        this.$router.push({ name: 'course_page', params: { id: course_id, day: 1 }});
      } else {
        this.$router.push({ name: 'course_preview', params: { id: course_id }});
      }
    }
  }
};
</script>

<style scoped>
.course {
  border-radius: 12px !important;
  height: 120px;
  background: url("../img/nav_bg.png"); /* Test image */
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.el-button {
  background-color: transparent;
  border-color: #fff;
  position: absolute;
  right: 40px;
  border-radius: 12px !important;
  height: 50px;
  font-weight: bold;
  font-size: 17px;
  transition-duration: 0s;
}

.el-button:hover,
.el-button:active {
  background-color: #888dc0;
  color: #fff;
}

p {
  font-weight: bold;
  font-size: 27px;
  margin-left: 40px;
}
</style>