<template>
  <div class="review">
    <el-carousel trigger="click" height="300px">
      <el-carousel-item v-for="item in 3" :key="item">
        <div class="block">
          <el-avatar :src="link" :size="150"></el-avatar>
          <p class="option-text">Саша Белый</p>
        </div>
        <div class="block course-text">
          Очень понравился курс. Прекрасно!
          Действительно фитнес без хуйни!
          Накачался и стал счастливым!
        </div>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>
<script>
export default {
  name: "CourseReview.vue",
  data() {
    return {
      link: "http://hypeava.ru/uploads/posts/2020-01/1579558317_1.jpg"
    }
  }
};
</script>
<style scoped>
.option-text {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
}

.review {
  margin: 15px;
}

.el-carousel {
  background-color: lightgrey;
}
</style>