<template>
  <el-button
    round
    :class="
      selected ? 'day-btn day-btn--selected' : 'day-btn day-btn--not-selected'
    "
    @click="
      $router.push({
        name: 'course_page',
        params: { id: course_id, day: number },
      })
    "
    >День {{ number }}</el-button
  >
</template>
<script>
export default {
  name: "DayButton.vue",
  props: {
    number: {
      type: Number,
      required: true,
    },
    selected: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      course_id: 0,
    };
  },
  mounted() {
    this.course_id = this.$route.params.id;
  },
};
</script>

<style>
.day-btn:default,
.day-btn {
  border-radius: 50px !important;
  border: none;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0 40px !important;
  margin: 0 !important;
}

.day-btn--selected:default,
.day-btn--selected {
  background-color: #787db5 !important;
  color: #fff !important;
}

.day-btn--selected:hover,
.day-btn--selected:active {
  background-color: #8086c6 !important;
  color: #fff !important;
}

.day-btn--not-selected:default,
.day-btn--not-selected {
  background-color: #fff !important;
  color: #787db5 !important;
  border: 1px solid #787db5 !important;
}

.day-btn--not-selected:hover,
.day-btn--not-selected:active {
  background-color: #787db5 !important;
  color: #fff !important;
}
</style>
