<template>
  <div class="nav-container">
    <div class="selfbuild" @click="$router.push({ name: 'main' })">
      SELFBUILD ✨
    </div>
    <button class="option" @click="$router.push({ name: 'my_courses' })">
      Мои курсы
    </button>
    <button class="option" @click="$router.push({ name: 'course_catalog' })">
      Каталог
    </button>
    <button class="option settings" @click="$router.push({ name: 'settings' })">
      Настройки ✍🏻
    </button>
  </div>
</template>

<script>
export default {
  name: "Navigation",
};
</script>

<style scoped>
.nav-container {
  background: url("../img/nav_bg_blur.png") center;
  background-size: cover;
  height: 60px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 48px;
}

.selfbuild {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.option {
  color: #fff;
  background: none;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.option:hover {
  transform: scale(1.1);
}

.settings {
  margin-left: auto;
}

.btn {
  padding: 4px 32px;
  border-radius: 20px;
  font-size: 18px;
}
</style>
