<template>
  <div>
    <input
      type="checkbox"
      @change="task_click"
      v-model="task_done"
      :id="task"
      border
    />
    <label :class="task_done ? 'checkbox done' : 'checkbox'" :for="task">{{
      task
    }}</label>
  </div>
  <!--<el-button @click="task_click" round :type="task_done ? 'success' : ''">{{ task }}</el-button>-->
</template>
<script>
export default {
  name: "TaskButton.vue",
  props: {
    exercise_id: {
      type: Number,
      required: true,
    },
    task: {
      type: String,
      required: true,
    },
    done: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      task_done: false,
    };
  },
  mounted() {
    this.task_done = this.done;
  },
  methods: {
    task_click() {
      // this.task_done = !this.task_done;
      let add = this.task_done ? -1 : 1;
      this.$emit("eventname", add);
      this.$api.platform.change_exercise_completion(this.exercise_id);
    },
  },
};
</script>

<style scoped>
div {
  margin-bottom: 10px;
}

.checkbox {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #787db5;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 10px;
  max-width: 450px;
  font-weight: 300;
}

.done {
  background-color: rgba(120, 125, 181, 0.1);
}

input {
  display: none;
}
</style>
