/* ====================== */
/* GENERAL */
/* ====================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans, sans-serif;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  text-align: left;
  color: black;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  text-align: left;
  color: black;
  margin-bottom: 15px;
  font-weight: normal;
}

.page {
  height: 100vh;
  display: flex;
}

.container {
  max-width: 450px;
  width: 100%;
  padding: 50px;
  margin: auto;
  align-self: center;
}

.page-container {
  max-width: 90rem;
  margin: 4.8rem auto;
  padding: 0 3.2rem;
}

.settings-container {
  display: flex;
  justify-content: space-between;
}

.course-text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 17px;
}

.option-text {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

/* ====================== */
/* INPUTS */
/* ====================== */

.el-input__inner {
  border-radius: 12px !important;
  height: 50px;
}

.el-input__inner:focus {
  border-color: #787db5 !important;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ====================== */
/* BUTTONS */
/* ====================== */

/* TODO компонента кнопки */

.el-button {
  border-radius: 12px !important;
  height: 50px;
  font-weight: bold;
  font-size: 17px;
}

/* White button */

.white-button,
.white-button:default {
  color: #787db5 !important;
  background-color: #fff !important;
  border: none;
}

.white-button:hover,
.white-button:active {
  background-color: #f8f9fa !important;
  color: #787db5 !important;
}

/* Brand button */

.brand-button,
.brand-button:default {
  background-color: #787db5 !important;
  color: #fff !important;
  border: none;
}

.brand-button:hover,
.brand-button:active {
  background-color: #888dc0 !important;
  color: #fff !important;
}

/* Text button */

.text-button,
.text-button:default {
  color: #787db5 !important;
  border: none;
}

.text-button:hover,
.text-button:active {
  color: #787db5 !important;
}

/* ====================== */
/* ALERTS  */
/* ====================== */

.alert-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px !important;
}

.alert {
  margin: 10px;
}

.el-alert {
  width: auto !important;
}
